In [1]:
list1 = [1,2,3,4,5]
print(list1)
type(list1)

[1, 2, 3, 4, 5]

list

In [2]:
list2 = [1,1.23, "gitam", "hyd"]
list2

[1, 1.23, 'gitam', 'hyd']

In [12]:
list1 = [1,2,3,4,5]
print(list1[0])
print(list1[-1])
print(list1[-3])
print(list1[-2])

1
5
3
4

In [17]:
list1 = [1,2,3,4,5]
list1[0:3]
list1[0:5:2]
list1[2:]
list1[::2]

[1, 3, 5]

In [18]:
del list1[0]

In [19]:
list1

[2, 3, 4, 5]

In [21]:
list1 = [1,2,3,4,5]
len(list1)

5

In [23]:
print(list1 *3)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [24]:
4 in list1

True

In [25]:
6 in list1

False

In [27]:
list1 = [1,2,3,4,5]
for i in range(len(list1)):
    print(list1[i])

1
2
3
4
5

In [28]:
for i in [1,2,3,4]:
    print(i,end = " ")

1 2 3 4

In [30]:
list1 = [1,2,3,4,5]
print(max(list1))
print(min(list1))
print(sum(list1))
sum(list1)/len(list1)

5
1
15

3.0

In [55]:
list1 =[1,2,3,4]
list1.append(5)
list1.insert(2,6)
list1.count(3)
list1.pop()
list1

[1, 2, 6, 3, 4]

In [62]:
list1
print(list1)
list1.index(2)
list1.extend([1,2,3])
list1

[1, 2, 6, 3, 4]

[1, 2, 6, 3, 4, 1, 2, 3]

In [64]:
print(list1)
list2 = [1,2]
list1.extend(list2)
list1

[1, 2, 6, 3, 4, 1, 2, 3]

[1, 2, 6, 3, 4, 1, 2, 3, 1, 2]

In [67]:
li = [10,20,30,40]
print(li)
li.reverse()
print(li)

[10, 20, 30, 40]
[40, 30, 20, 10]

In [68]:
li = [1,6,4,90,12,45]
li.sort()
li

[1, 4, 6, 12, 45, 90]

In [70]:
li[::-1]

[90, 45, 12, 6, 4, 1]

In [72]:
tuple1=(1,2,3,4,5)
print(tuple1)
type(tuple1)

(1, 2, 3, 4, 5)

tuple

In [74]:
t1= (10,20,30)
t1[0:2]
t1[::-1]

(30, 20, 10)

In [78]:

tuple1 = (1,1.23,"gitam")
tuple1

(1, 1.23, 'gitam')

#Dictionary

In [82]:
d1 = {"Yogitha": "Gitam","roll no":(221710401065),"Adress":"hyderabad"}
d1

{'Yogitha': 'Gitam', 'roll no': 221710401065, 'Adress': 'hyderabad'}

In [87]:
d1["Yogitha"]

'Gitam'

In [88]:
d1["email"] = "yogithayaramala99@gmail.com"
d1

{'Yogitha': 'Gitam',
 'roll no': 221710401065,
 'Adress': 'hyderabad',
 'email': 'yogithayaramala99@gmail.com'}

In [90]:
d1["course"] = "python"
d1

{'Yogitha': 'Gitam',
 'roll no': 221710401065,
 'Adress': 'hyderabad',
 'email': 'yogithayaramala99@gmail.com',
 'course': 'python'}

In [91]:
d1.keys()

dict_keys(['Yogitha', 'roll no', 'Adress', 'email', 'course'])

In [105]:
d1.values()

dict_values([221710401065, 'hyderabad', 'yogithayaramala99@gmail.com', 'python'])

In [107]:
d1

{'roll no': 221710401065,
 'Adress': 'hyderabad',
 'email': 'yogithayaramala99@gmail.com',
 'course': 'python'}

In [ ]:
def Digitalfactorsum(n):
    s = 0
    buffer = n
    while n!=0:
        r = n%10
        s = s+factorial(r)
        n = n//10
        if buffer == s:
            print("strong number")
    else:
         print("not a strong number")
Digitalfactorsum(145)

In [13]:
s1="python"
print(s1)
type(s1)

python

str

In [15]:
print(s1)
print(s1[0])
print(s1[-1])
print(s1[2:5])
print(s1[::2])
s1[::3]
s1[::4]
s1[::-1]

python
p
n
tho
pto

'nohtyp'

In [22]:
s1 = "python"
print(s1)
print(s1[1:])
print(s1[3:])
print(s1[:4])
print(s1[-2:])
print(s1[1: -1])
print(s1[0:5:2])

python
ython
hon
pyth
on
ytho
pto

In [24]:
str1 = "mom"
print(str1)
print(str1[::-1])
if str1 == str1[::-1]:
    print("palindrome")
else:
    print("not a palindrome")

mom
mom
palindrome